.card {
  margin-top: 15px;
  margin-bottom: 15px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 1000px) {
  .container-fluid img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
.icons {
  font-size: 1.8rem;
}
